body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#game-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 300px;
  cursor: pointer;
  font-size: 40px;
  caret-color: transparent;
}

#a1 {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 'none';
  height: 100px;
}
#a2 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
#a3 {
  border-top: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
#b1 {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 'none';
}
#b2 {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#b3 {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#c1 {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 'none';
}
#c2 {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#c3 {
  border-left: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
